# General configuration

# Tells applications if they are running in development or production mode.
# There are some features that are only enabled in development such as devtools in the frontend.
# Used by: all projects
# @required
# @default development
# @enum development|production
ENVIRONMENT=development

# What Sanity dataset to connect to.
# It has to be prefixed with NEXT_PUBLIC_ to be available in the frontend.
# Used by: web, uno
# @public
# @default develop
# @enum develop|production
NEXT_PUBLIC_SANITY_DATASET=develop

# What port the Uno API server should listen on.
# Used by: uno
# @public
# @format {number}
# @default 8000
UNO_API_PORT=8000

# A shared secret that can be used for authentication between the Uno API server and other services.
# Used by: uno, web
# @required
# @default foobar
ADMIN_KEY=foobar

# A shared secret that can be used to sign authentication tokens.
# Used by: uno, web
# @required
# @default foobar
AUTH_SECRET=foobar

# The URL of the Uno API server. This is used in the frontend to make API requests.
# It has to be prefixed with NEXT_PUBLIC_ to be available in the frontend.
# Used by: web
# @public
# @default http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000

# Advent of Code
# --------------
# Every year we participate in Advent of Code and have the
# leaderboard visible on the website. To fetch the leaderboard data websie 
# need to provide a session cookie.

# The token is optional as the leaderboard is only visible in the month of December.
# Used by: uno
AOC_SESSION_TOKEN=

# OAuth2 configuration
# --------------------
# We only use Feide as the OAuth2 provider for now.
# It is not required for local development, but it is required for production.
# The client ID and client secret can be obtained from the Feide administration portal.

# Used by: web
# @required
# @length 36
FEIDE_CLIENT_ID=

# Used by: web
# @required
# @length 36
FEIDE_CLIENT_SECRET=

# PostgreSQL configuration
# ------------------------

# Used by: uno, web
# @required
# @default postgres://postgres:postgres@localhost:5432/echo-web?sslmode=disable
DATABASE_URL=postgres://postgres:postgres@localhost:5432/echo-web?sslmode=disable

# MinIO / S3 configuration
# ------------------------
# For local development we use MinIO as the S3 compatible storage solution.
# To have profile picture uploads working you need to have MinIO running locally.

# Used by: uno
# @required
# @default localhost:9000
PROFILE_PICTURE_ENDPOINT_URL=localhost:9000

# Used by: uno
# @required
# @default profile-pictures
PROFILE_PICTURE_BUCKET_NAME=profile-pictures

# Used by: uno
# @required
# @default minioadmin
PROFILE_PICTURE_ACCESS_KEY_ID=minioadmin

# Used by: uno
# @required
# @default minioadmin
PROFILE_PICTURE_SECRET_ACCESS_KEY=minioadmin

