@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #171923;

    --muted: #ebeef4;
    --muted-foreground: #64748b;
    --muted-dark: #9db2cd;

    --table-foreground: #010408;
    --table-background: #f1f2f3;
    --table-background-alt: #eaeaea;
    --table-header-background: #e3eeff;
    --table-header-foreground: #16100b;

    --popover: #f9fafb;
    --popover-foreground: #171923;

    --card-foreground: #171923;

    --border: #9db2cd;
    --input: #f1f5f9;

    --primary: #008fa3;
    --primary-foreground: #f9fafb;
    --primary-hover: #32a5b5;
    --primary-dark: #006f83;

    --secondary: #fed879;
    --secondary-foreground: #171923;
    --secondary-hover: #ffe195;
    --secondary-dark: #f9c652;

    --accent: #ebeef4;
    --accent-foreground: #0f172a;

    --success: #48bb78;
    --success-foreground: #f9fafb;
    --success-hover: #6ee7b7;
    --success-dark: #2f855a;

    --destructive: #e53e3e;
    --destructive-foreground: #f9fafb;
    --destructive-hover: #f56565;
    --destructive-dark: #c53030;

    --warning: #f6ad55;
    --warning-foreground: #171923;
    --warning-hover: #f6c68b;
    --warning-dark: #b7791f;

    --info: #3182ce;
    --info-foreground: #f9fafb;
    --info-hover: #4299e1;
    --info-dark: #2b6cb0;

    --banner: #53adbd;

    --ring: #94a3b8;

    --selected: #ffeabb;

    --radius: 0.5rem;

    /* https://www.feide.no/designmanual */
    --feide: #1f4798;
    --feide-hover: #88b3e0;
    --feide-dark: #062356;

    --footer: #f2cc8f;
    --footer-border: #d4a373;
    --footer-foreground: #171923;
  }

  .dark {
    --background: #151210;
    --foreground: #eeeeee;

    --muted: #181818;
    --muted-foreground: #999999;
    --muted-dark: #4d4d4d;

    --table-foreground: #999999;
    --table-background: #151210;
    --table-background-alt: #181818;
    --table-header-background: #242424;
    --table-header-foreground: #eeeeee;

    --popover: #181818;
    --popover-foreground: #eeeeee;

    --card: #171717;
    --card-foreground: #eeeeee;

    --border: #4d4d4d;
    --input: #171717;

    --primary: #008fa3;
    --primary-foreground: #f9fafb;
    --primary-hover: #32a5b5;
    --primary-dark: #006f83;

    --secondary: #fed879;
    --secondary-foreground: #24292e;
    --secondary-hover: #ffe195;
    --secondary-dark: #f9c652;

    --accent: #14171a;
    --accent-foreground: #f9fafb;

    --success: #48bb78;
    --success-foreground: #f9fafb;
    --success-hover: #6ee7b7;
    --success-dark: #2f855a;

    --destructive: #e53e3e;
    --destructive-foreground: #f9fafb;
    --destructive-hover: #f56565;
    --destructive-dark: #c53030;

    --warning: #f6ad55;
    --warning-foreground: #14171a;
    --warning-hover: #f6c68b;
    --warning-dark: #b7791f;

    --info: #3182ce;
    --info-foreground: #f9fafb;
    --info-hover: #4299e1;
    --info-dark: #2b6cb0;

    --banner: #53adbd;

    --ring: #94a3b8;

    --selected: #008fa3;

    --radius: 0.5rem;

    --footer: #21201f;
    --footer-border: #1d1b17;
    --footer-foreground: #f9fafb;
  }

  html[data-theme="halloween"] {
    --primary: #e07a5f;
    --primary-foreground: #2f3640;
    --primary-hover: #f4a261;
    --primary-dark: #9c6644;

    --secondary: #f2cc8f;
    --secondary-foreground: #2f3640;
    --secondary-hover: #ffe8a1;
    --secondary-dark: #d4a373;

    --footer: #e07a5f;
  }

  html.dark[data-theme="halloween"] {
    --primary: #9d4edd;
    --primary-foreground: #f0e6ef;
    --primary-hover: #bb86fc;
    --primary-dark: #6a1b9a;

    --secondary: #ffb74d;
    --secondary-foreground: #f0e6ef;
    --secondary-hover: #ffa726;
    --secondary-dark: #ef6c00;
  }

  html[data-theme="christmas"] {
    --primary: #c0392b;
    --primary-foreground: #ffffff;
    --primary-hover: #e74c3c;
    --primary-dark: #8e2323;

    --secondary: #27ae60;
    --secondary-foreground: #ffffff;
    --secondary-hover: #2ecc71;
    --secondary-dark: #1e8449;

    --footer: #c0392b;
  }

  html.dark[data-theme="christmas"] {
    --primary: #bd2d2d;
    --primary-foreground: #f4f4f4;
    --primary-hover: #e63946;
    --primary-dark: #7f1f1f;
    --secondary: #2a9d8f;
    --secondary-foreground: #f4f4f4;
    --secondary-hover: #3faea0;
    --secondary-dark: #207066;

    --footer: #bd2d2d;
  }

  * {
    @apply border-border;
    transition: background-color 150ms ease-in-out;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-moz-selection {
    background: var(--selected);
  }

  ::selection {
    background: var(--selected);
  }

  .rainbow {
    animation: rainbow 5s linear;
    animation-iteration-count: infinite;
  }

  @keyframes rainbow {
    100%,
    0% {
      background-color: #ffadad;
    }
    10% {
      background-color: #ffd6a5;
    }
    20% {
      background-color: #fdffb6;
    }
    30% {
      background-color: #caffbf;
    }
    40% {
      background-color: #9bf6ff;
    }
    50% {
      background-color: #a0c4ff;
    }
    60% {
      background-color: #bdb2ff;
    }
    70% {
      background-color: #ffc6ff;
    }
    80% {
      background-color: #fffffc;
    }
  }

  .animate-bounce-left {
    animation: bounce-left 1s infinite;
  }

  @keyframes bounce-left {
    0%,
    100% {
      transform: translateX(25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-right {
    animation: bounce-right 1s infinite;
  }

  @keyframes bounce-right {
    0%,
    100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .bg-wrapped-purple {
    background-color: #a484e9;
  }

  .bg-wrapped-blue {
    background-color: #31bff3;
  }

  .bg-wrapped-pink {
    background-color: #f4889a;
  }

  .bg-wrapped-orange {
    background-color: #ffaf68;
  }

  .bg-wrapped-yellow {
    background-color: #f6e683;
  }

  .bg-wrapped-green {
    background-color: #79d45e;
  }

  .bg-wrapped-black {
    background-color: #171717;
  }

  .text-wrapped-black {
    color: #171717;
  }

  .text-wrapped-white {
    color: white;
  }

  .text-wrapped-grey {
    color: #171717;
    opacity: 0.7;
  }
}
