@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #171923;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --popover: #f9fafb;
    --popover-foreground: #171923;

    --card: #f9fafb;
    --card-foreground: #171923;

    --border: #e2e8f0;
    --input: #f1f5f9;

    --primary: #008fa3;
    --primary-foreground: #f9fafb;
    --primary-hover: #32a5b5;

    --secondary: #fed879;
    --secondary-foreground: #171923;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --success: #48bb78;
    --success-foreground: #f9fafb;

    --destructive: #e53e3e;
    --destructive-foreground: #f9fafb;

    --warning: #f6ad55;
    --warning-foreground: #171923;

    --info: #3182ce;
    --info-foreground: #f9fafb;

    --banner: #53adbd;

    --wave: #ffeabb;
    --wave-foreground: #171923;

    --ring: #94a3b8;

    --selected: #ffeabb;

    --radius: 0.5rem;
  }

  .dark {
    --background: #151210;
    --foreground: #f9fafb;

    --muted: #181818;
    --muted-foreground: #5a5a5a;

    --popover: #f9fafb;
    --popover-foreground: #171923;

    --card: #171717;
    --card-foreground: #f9fafb;

    --border: #2a2a2a;
    --input: #171717;

    --primary: #008fa3;
    --primary-foreground: #f9fafb;
    --primary-hover: #32a5b5;

    --secondary: #fed879;
    --secondary-foreground: #24292e;

    --accent: #14171a;
    --accent-foreground: #f9fafb;

    --success: #48bb78;
    --success-foreground: #f9fafb;

    --destructive: #e53e3e;
    --destructive-foreground: #f9fafb;

    --warning: #f6ad55;
    --warning-foreground: #14171a;

    --info: #3182ce;
    --info-foreground: #f9fafb;

    --banner: #53adbd;

    --wave: #171717;
    --wave-foreground: #f9fafb;

    --ring: #94a3b8;

    --selected: #008fa3;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-moz-selection {
    background: var(--selected);
  }

  ::selection {
    background: var(--selected);
  }
}
